@page "/"
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" />


<PageTitle>Index</PageTitle>

<h1 class="centered-text">Välkommen till vår restaurang D-D!

	Ett besök hos oss ska kännas enkelt, glatt och personligt. Här serveras mat och dryck med avstamp i den svenska mat och smaktraditionen.Rätterna bygger mycket på råvaror från vårt närområde och tillagas mitt i vår matsal i ett helt öppet kök utan väggar - en upplevelse för alla sinnen!

</h1>




